:root{
    /* font-size */
    --font-larggest:2.5rem;
    --font-large:2rem;
    --font-medium-large:1.5rem;
    --font-medium-large-sm:1.2rem;
    --font-medium:1rem;
    --font-small:0.9rem;
    --font-smaller:0.75em;
    /* color */
    /* --color-green-dark:#27353F;
    --color-skin:#FEC1A9;
    --color-white:white; */
    --color-dark-gold:#8E793E;
    --color-gold:#ecd381;
    --color-black:black;
    --color-white:#eeeeee;
    --color-light-white:#FFFFFF;
    --color-blue:#3c74bd;
    --color-dark-grey:#333333;
    --color-light-grey:#dbdbdb;
}

@font-face {
    src : url("LEMONMILK-Bold.otf");
    font-family: "Lemonmilk";
}

@font-face{
    src: url("NanumSquareR.ttf"),
    url("NanumSquareL.ttf"),
    url("NanumSquareL.ttf"),
    url("NanumSquareEB.ttf"),
    url("NanumSquareB.ttf"),
    url("NanumSquare_acR.ttf"),
    url("NanumSquare_acL.ttf"),
    url("NanumSquare_acEB.ttf"),
    url("NanumSquare_acB.ttf");
    font-family:"NanumSquareR";
}

body{
    font-family:'Roboto';
}

a{
    text-decoration: none;
    color:var(--color-white);
}

a:visited{
    color:var(--color-white);
}

a:before{
    color:var(--color-white);
}

/* Scroll Animation (sa, 스크롤 애니메이션) */
.sa {
    opacity: 0;
    transition: all 1s ease;
  }

  /* 아래에서 위로 페이드 인 */
  .sa-up {
    transform: translate(0, 100px);
  }
  /* 위에서 아래로 페이드 인 */
  .sa-down {
    transform: translate(0, -100px);
  }
  /* 왼쪽에서 오른쪽으로 페이드 인 */
  .sa-right {
    transform: translate(-100px, 0);
  }
  /* 오른쪽에서 왼쪽으로 페이드 인 */
  .sa-left {
    transform: translate(300px, 0);
  }
  /* 왼쪽으로 회전하면서 페이드 인 */
  .sa-rotateL {
    transform: rotate(180deg);
  }
  /* 오른쪽으로 회전하면서 페이드 인 */
  .sa-rotateR {
    transform: rotate(-180deg);
  }
  /* 작아진 상태에서 커지면서 페이드 인 */
  .sa-scaleUp {
    transform: scale(.5);
  }
  /* 커진 상태에서 작아지면서 페이드 인 */
  .sa-scaleDown {
    transform: scale(1.5);
  }

  .sa.show {
    opacity: 1;
    transform: none;
  }


/* navbar */

.navbar{
    background-color:var(--color-black);
    color:var(--color-white);
    padding:0.75em 1em;
    display:flex;
    flex-direction: column;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.navbar .logo{
    font-size:var(--font-large);
    font-family:'Permanent Marker';
}

.navbar .menu{
    font-size:var(--font-large);
    position:absolute;
    top:0.3em;
    right:0.75em;
}

.navbar .menu:hover{
    cursor:pointer;
}

.navbar .nav__items{
    display:none;
    flex-direction: column;
    justify-content:space-between;
    width:100%;
}

.navbar .nav__items.active{
    display:flex;
}

.navbar .nav__items .nav__item{
    width:100%;
    text-align:center;
    padding:0.75em 0;
    font-weight: bold;
}

.navbar .nav__items .nav__item a:hover{
    color:var(--color-gold);
}

.navbar .nav__items .nav__item a{
    display:block;
    width:100%;
    color:var(--color-white);
}

/* home */

.home{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:5em 2em;
    background-color:var(--color-black);
}

.home .introduction h1{
    font-size:var(--font-larggest);
    color:var(--color-white);
    font-family:'Lemonmilk';
    font-weight:900;
    margin-bottom:1em;
    line-height:120%;
}

.home .introduction p{
    font-size:var(--font-large);
    color:var(--color-white);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

 
.home img{
    opacity:0;
    width:19rem;
    filter:brightness(90%);
    -webkit-filter: opacity(.8) drop-shadow(0 0 0 #6e8ed3);
    filter: opacity(.8) drop-shadow(0 0 0 #6e8ed3);

    animation: fadein 3s ease-out forwards;
    -moz-animation: fadein 3s ease-out forwards; /* Firefox */
    -webkit-animation: fadein 3s ease-out forwards; /* Safari and Chrome */
    -o-animation: fadein 3s ease-out forwards; /* Opera */

}

/* skills */

.skills{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    padding:4em 1em;
}

.skills h2{
    font-size:var(--font-larggest);
    font-family: 'Permanent Marker';
    color:var(--color-black);
    /* border-bottom:3px solid var(--color-black); */
    width:90%;
    text-align:center;
}

.skills .skills__container{
    width:100%;
    margin-top:3rem;
}

.skills .skills__container .skill{
    margin:1em 0;
}

.skills .skills__container .skill .skill__name{
    font-size:var(--font-medium);
    color:var(--color-black);
    font-weight: 700;
    margin-bottom:0.5em;
}

.skills .skills__container .skill__bar__container{
    background-color: var(--color-light-grey);
    height:0.25em;
}

.skills .skills__container .skill .skill__bar__container .skill__bar{
    background-color: var(--color-blue);
    width:0%;
    height:100%;
    
}

.skills .skills__container .skill .skill__bar__container .skill__bar.html_css{
    width:50%;
    transition:all 2.5s ease-out;
}

.skills .skills__container .skill .skill__bar__container .skill__bar.javascript{
    width:40%;
    transition:all 2.5s ease-out .25s;
}

.skills .skills__container .skill .skill__bar__container .skill__bar.python_django{
    width:60%;
    transition:all 2.5s ease-out .5s;
}

.skills .skills__container .skill .skill__bar__container .skill__bar.C{
    width:40%;
    transition:all 2.5s ease-out .75s;
}



/* Education & Experience */
.edu_and_exp{
    background-color:var(--color-black);
    color:var(--color-white);
    padding:4em 1em;
}

.edu_and_exp h2{
    font-family: 'Permanent Marker';
    font-size:var(--font-large);
    color:var(--color-gold);
    text-align:center;
    margin-bottom:1em;
}

.edu_and_exp ul{
    border-top:1px solid var(--color-white);
    width:100%;
    margin:0 auto;
    padding-top:1em;
}

.edu_and_exp ul li{
    font-size:var(--font-small);
    padding:0.5em 0;
    font-family: 'NanumSquareR';
}


/* projects */
.projects{
    background-color:white;
    padding: 4em 0;
    font-family: 'NanumSquareR';
    font-size: var(--font-small);
}

.projects h2{
    text-align: center;
    font-size:var(--font-larggest);
    font-family: 'Permanent Marker';
    color:var(--color-black);
    margin-bottom:1em;
}

.summary{
    font-weight:bold;
    font-size:var(--font-medium-large-sm);
    margin-bottom:8px;
}

.projects .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding:2em 2em;
    padding-bottom:0;
}

.projects .project .project__img{
    width:20em;
    border-radius:50%;
    margin:1em;
    box-sizing:border-box;
    padding:2em;
}

.projects .project .project__img:hover{
    border:1px solid var(--color-black);
    cursor:pointer;
}

.projects .project .description{
    display:flex;
    flex-direction:column;
    line-height:125%;
}

.projects .project .description .summary{
    line-height:125%;
}

.projects .project .description >.title{
    font-size:var(--font-medium-large);
    margin:0.25em 0;
}

.projects .project .description .content{
    line-height:120%;
}   

.projects .project .description .tech_stack, .projects .project .description .contrib{
    margin-top: 0.5em;
}

.projects .project .description .tech_stack .title, .projects .project .description .contrib .title{
    font-weight:bold;
}



/* contact */
.contact{
    /* border-top:1px solid var(--color-white); */
    background-color:var(--color-black);
    color:var(--color-white);
    padding:1em 0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.contact h2{
    text-align:center;
    font-size:var(--font-large);
    font-family: 'Permanent Marker';
    color:var(--color-gold);
    margin-bottom: 0.5em;
}

.contact .github{
    color:var(--color-white);
    font-size:var(--font-large);
    margin:0.5em;
    text-decoration: none;
}


@media screen and (min-width:768px){
    /* navbar */
    .navbar{
        flex-direction:row;
        justify-content:space-between;
        z-index:2;
    }
    
    .navbar .nav__items{
        display:flex;
        flex-direction: row;
    }

    .navbar .nav__items .nav__item{
        color:var(--color-gold);
    }
    
    .navbar .menu, .navbar .logo{
        display:none;
    }
    
    /* home */
    .home{
        z-index: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100vh;
        position:relative;
        top:-50px;
    }

    .home .introduction{
        z-index:1;
    }

    .home .introduction h1{
        font-size:6rem;
        position:relative;
        top:120px;
        line-height: 100%;
    }


    .home img{
        position:absolute;
        width:24rem;
        z-index:0;
    }

    /* skills */
    .skills .skills__container{
        width:40em;
    }


    /* projects */
    .projects .project{
        flex-direction:row;
        max-width:60rem;
        margin: 0 auto;
    }

    .projects .project .project__img{
        margin-right:5em;
    }

    /* experiences */
    .edu_and_exp ul{
        width:40em;
    }
}